@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', 'Open Sans';
}
.section{
    background-size: cover;
    border-radius: 0px 0px 0px 120px;
    background: linear-gradient(180deg, rgba(2, 16, 74, 0.5) 0%, rgba(1, 19, 74, 0.2) 46.78%, rgba(1, 19, 74, 0) 100%), linear-gradient(90deg, #02114A 17.18%, rgba(2, 20, 74, 0.8) 50.88%, rgba(2, 20, 74, 0.7) 81.2%, rgba(2, 20, 74, 0.4) 100%), url(background--header.png);
    height: 670px;
    position: relative;
}

.nav-link{
    color: white !important;
}

.navbarstyling{
    background-color: transparent;
}

.topic{
    color: white;
}

.topic p{
    font-weight: 800;
    font-style: normal;
    font-size: 49px;
    line-height: 66px;
}
.span{
    color: #FBB03B;
}
.subtopic{
    color: white;
}

.subtopic p{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
}

.button1{
    margin-top: 30px;
    border-radius: 30px;
    width: 158px;
    font-weight: 500;
    font-size: 20px;
    background-color: #FBB03B;
}

.left{
    width: 574px;
    padding-top: 120px;
}
.back{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.front{
    position:absolute;
    left: 53%;
    bottom: 0;
    z-index: 2;
}
.yellow--box{
    position:absolute;
    left: 85.6%;
    top: 97.5%;
    width: 22px;
    height: 18px;
    border-radius: 3px;
    background-color: #FBB03B;
    transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);
}

.blue--box{
    position:absolute;
    left: 15.5%;
    top: 15%;
    width: 22px;
    height: 18px;
    border-radius: 3px;
    background-color: #27B9C2;
    transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);
}
.section1{
    position: relative;
    padding-top: 95px;
    text-align: center;
}
.topic1 h4{
    color: #FBB03B;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.02em;
}
.topic1 p{
    color: #02144A;
    font-weight: bold;
    font-size: 39px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 53px;
}
.subtopic1{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 180%;
}
.section--1{
    padding-top: 75px;
}
.part--2, .part--3{
    margin-left: 23px;
}
.part--3{
    box-shadow: 0px -2px 0px #FBB03B, 0px 2px 8px rgba(86, 98, 134, 0.25);
}
.part--1{
    box-shadow: 0px -2px 0px #3964E8, 0px 2px 8px rgba(86, 98, 134, 0.25);
}
.part--2{
    box-shadow: 0px -2px 0px #27B9C2, 0px 2px 8px rgba(86, 98, 134, 0.25);
}
.part--1, .part--2, .part--3{
    background-color: #F7F7F7;
    border-radius: 6px;
    height: 297px;
    padding-top: 30px;
    padding-left: 10px;
}
.icon--1{
    color: #3964E8;
}
.icon--2{
    color: #27B9C2;
}
.icon--3{
    color: #FBB03B;
}
.icon1{
    width: 48px;
    height: 48px;
    opacity: 20%;
    background-color: #3964E8;
    border-radius: 50%;
}
.icon2{
    width: 48px;
    height: 48px;
    opacity: 20%;
    background-color: #27B9C2;
    border-radius: 50%;
}
.icon3{
    width: 48px;
    height: 48px;
    opacity: 20%;
    background-color: #FBB03B;
    border-radius: 50%;
}
.part--1 p, .part--2 p, .part--3 p{
    color: #02144A;
    line-height: 23px;
    letter-spacing: .02em;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    padding-top: 8px;
}
.part--1 ul li, .part--2 ul li, .part--3 ul li{
    line-height: 180%;
    color: #2B303F;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .03em;
}
.topic2{
    color: rgba(251, 176, 59, 1);
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 180%;
}
.subtopic2{
    color:rgba(2, 20, 74, 1);
    font-weight: bold;
    font-size: 39px;
    line-height: 53px;
    letter-spacing: .020em;
}
.content{
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 180%;
}
.section--2{
    padding-top: 136px;
    height: 480px;
}
.right2{
    position: relative;
    padding-top: 80px;
    padding-left: 9%;
    height: 367px;
    align-self: center;
}
.inner--border{
    padding-top: 20px;
    padding-left: 20px;
    align-content: center;
    border: 1px dashed #02144A;
}
.yellow--box1{
    position:absolute;
    left: 19.8%;
    top: 21.5%;
    width: 22px;
    height: 18px;
    border-radius: 3px;
    background-color: #FBB03B;
    transform: rotate(46.33deg);
}
.yellow--box2{
    position:absolute;
    left: 95%;
    top: 65.7%;
    width: 22px;
    height: 17px;
    border-radius: 3px;
    background-color: #FBB03B;
    transform: rotate(-133.67deg);
}
.blue--box1{
    position:absolute;
    left: 19.8%;
    top: 63.5%;
    width: 30px;
    height: 24px;
    border-radius: 3px;
    background-color: #27B9C2;
    transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);
}
.blue--box2{
    position:absolute;
    left: 95%;
    top: 20.7%;
    width: 30px;
    height: 24px;
    border-radius: 3px;
    background-color: #27B9C2;
    transform: matrix(0.69, -0.72, -0.72, -0.69, 0, 0)
}
.section3{
    position: relative;
    padding-top: 200px;
}
.section--3{
    height: 957px;
    position: relative;
}
.left--3{
    width: 35%;
    height: 570px;
    justify-content: center;
}
.right--3{
    position: relative;
}
.side--1{
    position: absolute;
    bottom: 0;
}
.back--3{
    position:absolute;
    left: 42.75%;
    z-index: 1;
    top: 0;
}
.front--3{
    position:absolute;
    left: 49%;
    top: 0;
    z-index: 2;
    height: 950px;
}
.sect--3, .section--3{
    background-color: #F0F1F5 !important;
}
.section--4{
    position: relative;
    margin-top: 75px;
    height: 683px;
}
.bottom{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.button--41, .button--42, .button--43{
    background-color: #E1E3EB;
    height: 90px;
    align-items: center;
}
.button--42, .button--43{
    margin-left: 20px;
}
.top{
    text-align: center;
}
.yellow--box4{
    position: absolute;
    background-color: #FBB03B;
    top: 930%;
    left: 90.8%;
    border-radius: 3px;
    transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);
    width: 23px;
    height: 18px;
}
.blue--box4{
    position: absolute;
    background-color: #27B9C2;
    top: 20%;
    left: 82%;
    border-radius: 3px;
    transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);
    width: 23px;
    height: 18px;
}
.dblue--box4{
    position: absolute;
    background-color: #3964E8;
    top: 40%;
    left: 20%;
    border-radius: 3px;
    transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);
    width: 23px;
    height: 18px;
}
.button--4{
    margin-top: 30px;
    border-radius: 30px;
    width: 158px;
    font-weight: 500;
    font-size: 20px;
}
.section--5, .section--6, .section--7, .section--8, .section--9{
    padding-top: 80px;
    text-align: center;
}
.section--05, .articles{
    padding-top: 40px;
    justify-content: center;
}
.top--7, .bottom--7{
    padding-top: 50px;
    justify-content: space-around;
}